# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Build
dist/
build/
.next/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Cache
.cache/
.turbo/
*.tsbuildinfo
.superpowers/
